<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-links">
      <a href="mailto:semenko@alum.mit.edu">Email</a>
      <a href="https://github.com/semenko/">GitHub</a>
      <a href="https://twitter.com/semenko/">Twitter</a>
      <a href="https://www.linkedin.com/in/semenko/">LinkedIn</a>
      <a href="https://ai-lab.semenkovich.com">Lab</a>
      <a href="{{ '/feed.xml' | relative_url }}">RSS</a>
    </div>
    <div class="footer-copy">
      &copy; {{ site.time | date: '%Y' }} Nick Semenkovich &middot; <a href="https://github.com/semenko/semenko.github.io">Source</a>
    </div>
  </div>
</footer>
